<!--<div>-->
<!--  &lt;!&ndash; Movie Title with Border &ndash;&gt;-->
<!--  <h1 style="border: 2px solid black;">{{ movieListItem?.title }}</h1>-->

<!--  &lt;!&ndash; Movie Image using [src] binding &ndash;&gt;-->
<!--  <img [src]="movieListItem?.image" alt="Movie Image" width="800" height="600">-->
<!--</div>-->

<!--  <button type="button" (click)="onDelete(movie.id)">Delete</button>-->
<!--  <button type="button" (click)="navigateToMovieList()">Back to List</button>-->

<!--<div class="movie-item">-->
<!--  &lt;!&ndash; Movie Image &ndash;&gt;-->
<!--  <img [src]="movie.imageUrl" [alt]="movie.movieName" />-->

<!--  &lt;!&ndash; Movie ID &ndash;&gt;-->
<!--  <div class="movie-id">ID: {{ movie.id }}</div>-->

<!--  &lt;!&ndash; Movie Details &ndash;&gt;-->
<!--  <div class="movie-details">-->
<!--    <h5>{{ movie.movieName }}</h5>-->
<!--    <p>Director: {{ movie.directorName }}</p>-->
<!--    <p>Film Company: {{ movie.filmCompany }}</p>-->
<!--    <p>Good Film: {{ movie.goodFilm ? 'Yes' : 'No' }}</p>-->

<!--    &lt;!&ndash; Edit and Delete Buttons &ndash;&gt;-->
<!--    <div class="button-group">-->
<!--      <button (click)="onEdit(movie)">Edit</button>-->
<!--      <button (click)="onDelete(movie.id)">Delete</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="movie-item">-->
<!--  &lt;!&ndash; Movie Image &ndash;&gt;-->
<!--  <img [src]="movie.image" [alt]="movie.movieName" width="800" height="600" />-->

<!--  &lt;!&ndash; Movie ID &ndash;&gt;-->
<!--  <div class="movie-id">ID: {{ movie.id }}</div>-->

<!--  &lt;!&ndash; Movie Details &ndash;&gt;-->
<!--  <div class="movie-details">-->
<!--    <h5>{{ movie.movieName }}</h5>-->
<!--    <p>Director: {{ movie.directorName }}</p>-->
<!--    <p>Film Company: {{ movie.filmCompany }}</p>-->
<!--    <p>Good Film: {{ movie.goodFilm ? 'Yes' : 'No' }}</p>-->

<!--    &lt;!&ndash; Edit and Delete Buttons &ndash;&gt;-->
<!--    <div class="button-group">-->
<!--      <button (click)="onEdit()">Edit</button>-->
<!--      <button (click)="onDelete()">Delete</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div>
  <h1 style="border: 2px solid black">{{movieListItem?.title}}</h1>
  <img ngSrc="{{movieListItem?.image}}" alt="Movie Image" width="800" height="600">
  <!--  <button type="button" (click)="onDelete(movie.id)">Delete</button>-->
  <!--  <button type="button" (click)="navigateToMovieList()">Back to List</button>-->
</div>

