<!--<app-movie-list-item [movieListItem]="movies[0]"></app-movie-list-item>-->
<!--<app-movie-list-item [movieListItem]="movies[1]"></app-movie-list-item>-->
<!--<app-movie-list-item [movieListItem]="movies[2]"></app-movie-list-item>-->
<!--<app-movie-list-item [movieListItem]="movies[3]"></app-movie-list-item>-->

<app-movie-list-item *ngFor="let movie of movies; index as i"
                     [movieListItem]="movie" [ngStyle]="
{display:'block','background-color': i % 2 === 0? 'red': 'blue'}"></app-movie-list-item>

