<!--<app-movie-list-item [movieListItem]="movies[0]"></app-movie-list-item>-->
<!--<app-movie-list-item [movieListItem]="movies[1]"></app-movie-list-item>-->
<!--<app-movie-list-item [movieListItem]="movies[2]"></app-movie-list-item>-->
<!--<app-movie-list-item [movieListItem]="movies[3]"></app-movie-list-item>-->

<!--<div *ngFor="let movie of movieList">-->
<!--  <h2>{{movie.title}} {{movie.releaseYear}})</h2>-->
<!--  <p>{{movie.director}} - {{movie.genre}} - Rating: {{movie.rating}}</p>-->
<!--  <img [src]="movie.image" alt="{{movie.title}} image" width="100" height="150">-->

<!--  <button (click)="delete(movie.id)">Delete</button>-->
<!--  <button (click)="navigateToMovieList()">Edit Movie</button>-->
<!--</div>-->



<!--  <p>Id: {{movie.id}}</p>-->
<!--  <p>Title: {{movie.title}}</p>-->
<!--  <p>Rating: {{movie.director}}</p>-->


<!--<div *ngIf="movieList" class="movie-list">-->
<!--  <h2>Movie List</h2>-->
<!--  <p><strong>ID:</strong> {{ movieList.id }}</p>-->
<!--  <p><strong>Title:</strong> {{ movieList.title }}</p>-->
<!--  <p><strong>Director:</strong> {{ movieList.director }}</p>-->
<!--  <p><strong>Release Year:</strong> {{ movieList.releaseYear }}</p>-->
<!--  <p><strong>Genre:</strong> {{ movieList.genre }}</p>-->
<!--  <p><strong>Rating:</strong> {{ movieList.rating }}</p>-->
<!--  <p><strong>Image:</strong> {{ movieList.image ? 'Yes' : 'No' }}</p>-->
<!--  <button (click)="goBackward()" [disabled]="currentIndex === 0">Previous</button>-->
<!--  <button (click)="goForward()" [disabled]="currentIndex === movieList.length - 1">Next</button>-->
<!--  <button (click)="goBack()">Back to Movie List</button>-->
<!--</div>-->

<div class="movie-list">
  <div *ngFor="let movie of movieList" class="movie-item">
    <app-movie-list-item
      [movieInput]="movie"
      (editMovie)="editMovie(movie.id)"
      (deleteMovie)="deleteMovie(movie.id)">
    </app-movie-list-item>
    <div class="button-group">
      <button (click)="editMovie(movie.id)">Edit</button>
      <button (click)="deleteMovie(movie.id)">Delete</button>
    </div>
  </div>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</div>

