<!--<app-movie-list-item [movieListItem]="movies[0]"></app-movie-list-item>-->
<!--<app-movie-list-item [movieListItem]="movies[1]"></app-movie-list-item>-->
<!--<app-movie-list-item [movieListItem]="movies[2]"></app-movie-list-item>-->
<!--<app-movie-list-item [movieListItem]="movies[3]"></app-movie-list-item>-->

<div *ngFor="let movie of movieList">
  <h2>{{movie | titleDirector}} {{movie.releaseYear}}</h2>

  <p>{{movie.genre}} - Rating: {{movie.rating}} - Price: {{movie.price | currency: 'CAD'}}</p>
  <img [src]="movie.image" alt="{{movie.title}} image" width="100" height="150">

  <button (click)="delete(movie.id)">Delete</button>
  <button (click)="navigateToMovieList()">Edit Movie</button>
</div>

<!--  <p>Id: {{movie.id}}</p>-->
<!--  <p>Title: {{movie.title}}</p>-->
<!--  <p>Rating: {{movie.director}}</p>-->

<!--{{movie.title}}-->
<!--{{movie.director}} - -->

